apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "lukscryptwalker-csi.fullname" . }}-node
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "lukscryptwalker-csi.node.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "lukscryptwalker-csi.node.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "lukscryptwalker-csi.node.selectorLabels" . | nindent 8 }}
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- include "lukscryptwalker-csi.imagePullSecrets" . | nindent 6 }}
      serviceAccountName: {{ include "lukscryptwalker-csi.node.serviceAccountName" . }}
      hostNetwork: true
      hostPID: true
      {{- with .Values.podSecurityContext.node }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: node-driver-registrar
        image: {{ .Values.node.sidecars.nodeDriverRegistrar.image.repository }}:{{ .Values.node.sidecars.nodeDriverRegistrar.image.tag }}
        imagePullPolicy: {{ .Values.node.sidecars.nodeDriverRegistrar.image.pullPolicy }}
        args:
        - "--v={{ .Values.logging.level }}"
        - "--csi-address=$(ADDRESS)"
        - "--kubelet-registration-path=$(DRIVER_REG_SOCK_PATH)"
        - "--health-port=9809"
        env:
        - name: ADDRESS
          value: /csi/csi.sock
        - name: DRIVER_REG_SOCK_PATH
          value: /var/lib/kubelet/plugins/{{ .Values.csiDriver.name }}/csi.sock
        - name: KUBE_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        livenessProbe:
          httpGet:
            path: /healthz
            port: 9809
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 3
        volumeMounts:
        - name: plugin-dir
          mountPath: /csi/
        - name: registration-dir
          mountPath: /registration/
      - name: lukscryptwalker-csi
        image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        {{- with .Values.securityContext.node }}
        securityContext:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        args:
        - "--endpoint=$(CSI_ENDPOINT)"
        - "--nodeid=$(KUBE_NODE_NAME)"
        - "--vfs-cache-size={{ .Values.node.vfsCacheSize }}"
        - "--luks-secret-name={{ .Values.secret.name }}"
        - "--luks-secret-namespace={{ .Values.secret.namespace }}"
        - "--luks-secret-key={{ .Values.secret.passphraseKey }}"
        env:
        - name: CSI_ENDPOINT
          value: unix:///csi/csi.sock
        - name: KUBE_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: CSI_LOCAL_PATH
          value: {{ .Values.storage.defaultPath | quote }}
        volumeMounts:
        - name: plugin-dir
          mountPath: /csi
        - name: pods-mount-dir
          mountPath: /var/lib/kubelet
          mountPropagation: "Bidirectional"
        - name: device-dir
          mountPath: /dev
        - name: local-path-dir
          mountPath: {{ .Values.storage.defaultPath }}
          mountPropagation: "Bidirectional"
        - name: cache-dir
          mountPath: /var/lib/lukscrypt-cache
          mountPropagation: "Bidirectional"
        - name: vfs-cache-dir
          mountPath: /var/lib/lukscrypt-vfs-cache
          mountPropagation: "Bidirectional"
        startupProbe:
          exec:
            command:
            - test
            - -S
            - /csi/csi.sock
          failureThreshold: 30
          periodSeconds: 2
        livenessProbe:
          exec:
            command:
            - test
            - -S
            - /csi/csi.sock
          initialDelaySeconds: 10
          periodSeconds: 30
          timeoutSeconds: 3
        {{- with .Values.node.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}
      volumes:
      - name: plugin-dir
        hostPath:
          path: /var/lib/kubelet/plugins/{{ .Values.csiDriver.name }}
          type: DirectoryOrCreate
      - name: registration-dir
        hostPath:
          path: /var/lib/kubelet/plugins_registry/
          type: Directory
      - name: pods-mount-dir
        hostPath:
          path: /var/lib/kubelet
          type: Directory
      - name: device-dir
        hostPath:
          path: /dev
      - name: local-path-dir
        hostPath:
          path: {{ .Values.storage.defaultPath }}
          type: DirectoryOrCreate
      - name: cache-dir
        hostPath:
          path: /var/lib/lukscrypt-cache
          type: DirectoryOrCreate
      - name: vfs-cache-dir
        hostPath:
          path: /var/lib/lukscrypt-vfs-cache
          type: DirectoryOrCreate
      {{- with .Values.node.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.node.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.node.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}